*{
    margin: 0;
    padding: 0;
}
.MainBoxN1{
    /* border: 2px solid red; */
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.734);
    border-bottom: 5px solid #03ff13;
}
.LogoN1{
    /* border: 2px solid blue; */
    padding: 7px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #03ff13;
}

.RegisterN1{
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-left: 10px;
}
.RegisterUserN1{
    width: 10vw;
    height: 6vh;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 15px;
    background-color: black;
    border: 3px solid white;
    color: #03ff13;
    transition: 200ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.RegisterUserN1:hover{
    border-radius: 15px;
    background-color: black;
    border: 3px solid #03ff13;
    color: white;
}